@import '~antd/dist/antd.css';

.App {
  max-width: 600px;
  margin: auto;
  background-color: #fafafa;
}

.App header {
  max-width: 600px;
  width: 100%;
  position: absolute;
  top: 0;
  height: 50px;
  background-color: #096dd9;
}

.App header h1 {
  color: white;
  margin: 2px 0 0 20px;
}

.App header .model-selector {
  display: block;
  margin-top: 8px;
  margin-right: 8px;
}

.App main {
  max-width: 600px;
  width: 100%;
  position: absolute;
  top: 50px;
  bottom: 50px;
  overflow-y: auto;
  background-color: #fafafa;
}

.App main .chat-messages {
  margin-top: 20px;
  margin-bottom: 10px;
}

.App main .chat-messages .rce-mbox-photo--img {
  max-width: 200px;
  max-height: initial;
}

.App main .chat-messages .rce-mbox-photo--img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.App footer {
  max-width: 600px;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 4px 4px 8px 4px;
  background-color: #eee;
}

.App footer .chat-input .ant-input-suffix {
  margin-bottom: -4px;
}